body {
	text-align: left;
	margin: 200px 10% 10%;
	background-color: none;
}

button {
	cursor: pointer;
	margin-bottom: 40px;
	margin-right: 5px;
	background-color: #ddd;
	color: black;
	border: outset 3px #ddd;
	font-size: 15px;
	padding: 5px 35px;
	border-radius: 0px;
	font-weight: 50;
	opacity: 1;
	font-family: serif;
}

/*button:hover {
	opacity: .8;
}
*/
input {
	font-size: 15px;
	padding: 6px 15px;
	color: rgba(0,0,0,.3);
	font-weight: 50;
	border: solid 1px lightgrey;
	border-radius: 0px;
	font-family: serif;
	width: 200px;
}

#image {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
	width: 250px;
	margin: 25px 2%;
}