body {
	text-align: left;
	margin: 50px 10% 20%;
}

button {
	cursor: pointer;
	margin-bottom: 40px;
	margin-right: 5px;
	background-color: lightgrey;
	color: white;
	border: none;
	font-size: 20px;
	padding: 5px 35px;
	border-radius: 5px;
	font-weight: 50;
}

input {
	font-size: 20px;
	padding: 4px 15px;
	color: rgba(0,0,0,.5);
	font-weight: 50;
	border: solid 1px lightgrey;
	border-radius: 5px;
}